n8n-workflows/lead-hunter-cron.json
{
  "name": "TitanCrew — Lead Hunter Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.AGENT_API_URL }}/meta-swarm/trigger",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AGENT_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "jsonBody": "={ \"event\": \"lead_hunt\", \"priority\": \"normal\", \"payload\": { \"huntDepth\": \"standard\", \"targetMarkets\": [\"Texas\", \"Florida\", \"California\", \"Georgia\", \"Arizona\"], \"tradeTypes\": [\"plumber\", \"electrician\", \"hvac\"] } }",
        "options": {
          "timeout": 60000
        }
      },
      "id": "trigger-lead-hunt",
      "name": "Trigger Lead Hunt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Hunt Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_OPS_CHANNEL }}",
        "text": "=🎯 Lead Hunt Complete!\n• Leads found: {{ $json.result.leadsFound }}\n• Demos triggered: {{ $json.result.demosTriggered }}\n• Email drips queued: {{ $json.result.dripsQueued }}\n• Run ID: {{ $json.runId }}",
        "otherOptions": {}
      },
      "id": "notify-success",
      "name": "Notify Slack (Success)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_OPS_CHANNEL }}",
        "text": "=⚠️ Lead Hunt Failed!\n• Error: {{ $json.error }}\n• Run ID: {{ $json.runId }}\n• Retrying automatically...",
        "otherOptions": {}
      },
      "id": "notify-failure",
      "name": "Notify Slack (Failure)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [900, 380]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Trigger Lead Hunt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Lead Hunt": {
      "main": [
        [
          {
            "node": "Hunt Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunt Succeeded?": {
      "main": [
        [
          {
            "node": "Notify Slack (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromAList"
  },
  "tags": ["titancrew", "meta-swarm", "lead-acquisition"]
}
